/* Google Fonts
font-family: 'Sacramento', cursive;
font-family: 'Montserrat', sans-serif; */

/********************** Tags *************************/
body {
  margin: 0;
  text-align: center;
  /* background-color: #e0ebe8; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    13deg,
    rgba(34, 193, 195, 0.4231442577030813) 0%,
    rgba(244, 45, 253, 0.12622549019607843) 100%
  );
}

h3 {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  margin: 0;
}

h6 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* position: absolute; */
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5px;
}
/********************** Classes *************************/

.kinda {
  margin: auto;
  width: 15%;
}

.me {
  margin: auto;
  width: 12%;
}
.nav {
  position: relative;
  margin-top: 50px;
}
.top-container {
  padding-top: 50px;
  position: relative;
}

.heart-container {
  width: 12%;
  position: relative;
  margin: auto;
}

.add-task {
  display: inline-block;
  position: absolute;
  margin: auto;
  left: 0;
}

.add-random {
  display: inline-block;
  position: absolute;
  margin: auto;
  right: 0;
}

.middle-container {
  padding-top: 50px;
  position: relative;
}

.top-snowflake {
  position: absolute;
  right: 460px;
  width: 5%;
}

.bottom-snowflake {
  position: absolute;
  opacity: 0.85;
  width: 7%;
  left: 505px;
}
.hamburger {
  display: inline-block;
  position: absolute;
  right: 70px;
}

.toggle {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 3px;
}
/********************** Ids *************************/

#score-dot {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 70px;
}
